<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>fees</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>StudentDetails.html</welcome-file>
    <welcome-file>viewstudent.jsp</welcome-file>
    <welcome-file>deletestudent.jsp</welcome-file>
    <welcome-file>StaffDetails.html</welcome-file>
    <welcome-file>viewstaff.jsp</welcome-file>
    <welcome-file>billreceipt.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Valid</display-name>
    <servlet-name>Valid</servlet-name>
    <servlet-class>examfees.Valid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Valid</servlet-name>
    <url-pattern>/Valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>examfees.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetail</display-name>
    <servlet-name>StudentDetail</servlet-name>
    <servlet-class>examfees.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetail</servlet-name>
    <url-pattern>/StudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDetail</display-name>
    <servlet-name>StaffDetail</servlet-name>
    <servlet-class>examfees.StaffDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDetail</servlet-name>
    <url-pattern>/StaffDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>examfees.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pay</display-name>
    <servlet-name>pay</servlet-name>
    <servlet-class>examfees.pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sms</display-name>
    <servlet-name>sms</servlet-name>
    <servlet-class>examfees.sms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sms</servlet-name>
    <url-pattern>/sms</url-pattern>
  </servlet-mapping>
</web-app>